{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

<form id="frmRegister" method="post" action="/register/driver">
  <div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Sign up as a driver</h1>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <div class="row">
              <!-- Form Element sizes -->
              <div class="card">
                <img src="../public/driver_register.png" class="img-fluid" alt="driver_register.png">
              </div>
            </div>
            <!-- /.card -->

          </div>
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Driver's form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/register/driver" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label for="fullname"><strong>Full Name</strong></label>
                    <input required name="fullname" type="text" class="form-control" placeholder="Enter full name" id="main">
                  </div>
                  <div class="form-group">
                    <label for="identity"><strong>Identity Card</strong></label>
                    <input required name="identity" type="text" class="form-control" placeholder="Enter ID">
                  </div>
                  <div class="form-group">
                    <label for="phone"><strong>Phone number</strong></label>
                    <input required name="phone" type="text" class="form-control" placeholder="Enter phone number">
                  </div>
                  <div class="form-group">
                    <label for="plate"><strong>License plate</strong></label>
                    <input required name="plate" type="text" class="form-control" placeholder="Enter license plate">
                  </div>
                  <div class="form-group">
                    <label for="address"><strong>Home address</strong></label>
                    <input required name="address" type="text" class="form-control" placeholder="Enter home address">
                  </div>
                  <div class="form-group">
                    <label><strong>Working area</strong></label>
                    <select name="area" class="form-control">
                      <option>An Giang</option>
                      <option>Bà Rịa - Vũng Tàu</option>
                      <option>Bắc Giang</option>
                      <option>Bắc Kạn</option>
                      <option>Bạc Liêu</option>
                      <option>Bắc Ninh</option>
                      <option>Bến Tre</option>
                      <option>Bình Định</option>
                      <option>Bình Dương</option>
                      <option>Bình Phước</option>
                      <option>Bình Thuận</option>
                      <option>Cà Mau</option>
                      <option>Cao Bằng</option>
                      <option>Đắk Lắk</option>
                      <option>Đắk Nông</option>
                      <option>Điện Biên</option>
                      <option>Đồng Nai</option>
                      <option>Đồng Tháp</option>
                      <option>Gia Lai</option>
                      <option>Hà Giang</option>
                      <option>Hà Nam</option>
                      <option>Hà Tĩnh</option>
                      <option>Hải Dương</option>
                      <option>Hậu Giang</option>
                      <option>Hòa Bình</option>
                      <option>Hưng Yên</option>
                      <option>Khánh Hòa</option>
                      <option>Kiên Giang</option>
                      <option>Kon Tum</option>
                      <option>Lai Châu</option>
                      <option>Lâm Đồng</option>
                      <option>Lạng Sơn</option>
                      <option>Lào Cai</option>
                      <option>Long An</option>
                      <option>Nam Định</option>
                      <option>Nghệ An</option>
                      <option>Ninh Bình</option>
                      <option>Ninh Thuận</option>
                      <option>Phú Thọ</option>
                      <option>Quảng Bình</option>
                      <option>Quảng Ngãi</option>
                      <option>Quảng Ninh</option>
                      <option>Sóc Trăng</option>
                      <option>Sơn La</option>
                      <option>Tây Ninh</option>
                      <option>Thái Bình</option>
                      <option>Thái Nguyên</option>
                      <option>Thanh Hóa</option>
                      <option>Tiền Giang</option>
                      <option>Trà Vinh</option>
                      <option>Tuyên Quang</option>
                      <option>Vĩnh Long</option>
                      <option>Vĩnh Phúc</option>
                      <option>Phú Yên	Cần Thơ</option>
                      <option>Đà Nẵng</option>
                      <option>Hải Phòng</option>
                      <option>Hải Phòng</option>
                      <option>Hà Nội</option>
                      <option>TP HCM</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="email"><strong>Email</strong></label>
                    <input required name="email" type="email" class="form-control"  placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="account"><strong>Account number</strong></label>
                    <input required name="bankaccount" type="text" class="form-control" placeholder="Enter bank's account number">
                  </div>
                  <div class="form-group">
                    <label><strong>Bank name</strong></label>
                    <select name="bank" class="form-control">
                      <option>Argibank</option>
                      <option>Vietcombank</option>
                      <option>Viettinbank</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="username"><strong>Username</strong></label>
                    <input required name="username" type="text" class="form-control" placeholder="Enter username">
                  </div>
                  <div class="form-group">
                    <label for="pass"><strong>Password</strong></label>
                    <input required name="pass" type="password" class="form-control" placeholder="Enter password">
                  </div>
                  <div class="form-group">
                    <label for="confirm_pass"><strong>Confirm Password</strong></label>
                    <input required name="confirm_pass" type="password" class="form-control" placeholder="Confirm password">
                  </div>
                  <div class="form-check">
                    <input required type="checkbox" class="form-check-input" >
                    <label class="form-check-label" for="exampleCheck1">I have read and accept the terms and conditions</label>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer text-md-center">
                  <button type="submit" class="btn btn-primary btn-block">SIGN UP</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          <!-- right column -->

          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    </div>
  </div>
  <!-- /.content-wrapper -->
</form>
