<div class="container-fluid mt-4">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <h4 class="card-header">
            Driver's Function
          </h4>
          <div class="list-group list-group-flush">
            <a href="./order_list" class="list-group-item list-group-item-action">Get New Order</a>
            <a href="./received_list" class="list-group-item list-group-item-action">View Delivered Orders</a>
          </div>
        </div>
        <div class="card mt-3">
          <h4 class="card-header">
            Header
          </h4>
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
          </div>
          <div class="card-footer text-muted">
            Footer
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <h4 class="card-header">
            Driver's Profile
          </h4>
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
          </div>
          <div class="card-footer text-muted">
            Footer
          </div>
        </div>
      </div>
    </div>
  </div>