<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="card">
            <div class="card-header primary">
               <h4 class="card-title primary text-center">Order ID1923120H</h4>
            </div>

            <div class="card-body">
            <dl class="row">
              <dt class="col-sm-3">Name:</dt>
              <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

              <dt class="col-sm-3">Product price:</dt>
              <dd class="col-sm-9">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>

              <dt class="col-sm-3">Shipping fee:</dt>
              <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

              <dt class="col-sm-3">Customer:</dt>
              <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

              <dt class="col-sm-3">Phone numeber:</dt>
              <dd class="col-sm-9">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>

              <dt class="col-sm-3">Address: </dt>
              <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

              <dt class="col-sm-3">Payment: </dt>
              <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
            </dl>

            <div class="text-center">
                <form method="POST" action="/one?_method=GET">
                   <a class="btn btn-info btn-lg btn-block" href="/one">
                    Take this order
                   </a>
                </form>
             </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
